
<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@meal.errors.count, "error") %>
      prohibited this meal from being saved:
    </h2>

    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
    <% if @meal.errors.any? %>
    <li><%= msg %></li>
    <% end %>
    </ul>

    </div>
    <% end %>
    <% end %>


<%= form_for @meal do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :calorie_count%>
<%= f.text_field :calorie_count  %> <br>
<%= f.label :description %>
<%= f.text_area :description %> <br>
<%= f.label :price%>
<%= f.number_field :price, :class => 'text_field', :step => 0.05 %> <br>
<%= f.label :category%>
<%= f.text_field :category %> <br>

<%# f.label "Ingredient" %>

<%= f.submit "Create Meal" %>
<% end %>
